@page
@model LoginModel

    <link href="~/css/Login.css" rel="stylesheet" />
    <form  id="account" method="post">
        <div class="form-login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="thumbnail"><img src="~/tumicse_logo.png" /></div>
            <!-- <form class="register-form">
        <input type="text" placeholder="name" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>

        <input type="password" placeholder="password" />
        <input type="text" placeholder="email address" />
        <button>Criar</button>
        <p class="message">Já Registrado?<a href="#">Entrar</a></p>
    </form>-->
            <label asp-for="Input.Email"></label> 
            <input asp-for="Input.Email" placeholder="E-mail" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" placeholder="Senha" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>

            <button type="submit">Logar</button>

            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                </p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Crie uma nova conta</a>
            </div>
        </div>
</form>

              <!--  <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>-->
     

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
